.filterSidebar {
    padding: 20px;
    background-color: #F2F4F7;
    border-radius: 10px;
}

.locationWrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 8px;
    margin-bottom: 20px;
}

.inputFieldWithIcon {
    padding-left: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: #101828;
    flex: 1;
}

.filterGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}


.searchButton {
    background-color: #E44848;
    color: white;
    padding: 15px;
    width: 100%;
    border: none;
    border-radius: 200px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.searchButton:hover {
    background-color: #DB4343;
}
.filterItem {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #DADEE1;
    border-radius: 8px;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #101828;
    text-align: center;
    cursor: pointer;
    gap: 8px;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #101828;
    flex-shrink: 0;
}

.filterItem.selected {
    border: 1px solid #E44848;
}

.checkbox {
    display: none;
}