.bookingForm {
    padding: 20px;
    background-color: #F9FAFB;
    border: 1px solid #DADEE1;
    border-radius: 10px;
}

.bookingForm h3 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.bookingForm p {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 15px;
}

.bookingForm form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bookingForm input,
.bookingForm textarea,
.bookingForm button {
    padding: 10px;
    border: 1px solid #DADEE1;
    border-radius: 5px;
}

.bookingForm button {
    background-color: #E44848;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.bookingForm button:hover {
    background-color: #DB4343;
}
